<nav class="navbar navbar-expand-sm navbar-dark " id="mainNavbar">
  <a class="navbar-brand" href="/">
    <img
      src="/images/icons/icon-72x72.png"
      alt="Torque 360 Logo"
      class="img-fluid"
    />
    Torque 360
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
      <% if(user) {%>
      <a class="nav-item nav-link" href="/admin/logout">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
