<nav
  class="navbar navbar-expand-sm bg-primary navbar-dark"
  id="mainNavbar"
>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/" id="navBrand"><img src="/images/icons/icon-72x72.png" alt="Torque 360 Logo" class="img-fluid"> Torque 360</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/logout">Logout</a>
    </li>
  </ul>
</nav>