<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="A Car DB PWA meant to simplify problems."
    />
    <title>Torque 360</title>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="shortcut icon"
      href="/images/icons/icon-128x128.png"
      type="image/png"
    />
    <link rel="manifest" href="/manifest.json" />
    <!-- IOS META TAGS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Torque 360" />
    <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png" />
    <!-- Android META TAGS -->
    <meta name="theme-color" content="#0069FF" />
  </head>

  <body>
    <% include ./partials/navbar %>

    <div>
      <%- body %>
    </div>

    <% include ./partials/footer %>

    <script src="jquery-3.4.1.slim.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script src="bootstrap.min.js"></script>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("/sw.js")
            .then(registration => {
              console.log(
                `Service Worker registered! Scope: ${registration.scope}`
              );
            })
            .catch(err => {
              console.log(`Service Worker registration failed: ${err}`);
            });
        });
      }
    </script>
  </body>
</html>
