<h2>// This is the Welcome Page.</h2>

<div class="jumbotron text-center">
  <h1>Torque 360</h1>
  <p>* insert corny caption *</p>
</div>

<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card card-body text-center">
      <p>Create an account or login [Admin]</p>
      <a href="/admin/register" class="btn btn-primary btn-block mb-2"
        >Register [will be removed later]</a
      >
      <a href="/admin/login" class="btn btn-info btn-block mb-2">Login</a>
    </div>
  </div>
</div>