<div class="text-center" id="header">
  <h1>Torque 360</h1>
  <hr />
  <p>We give the best angle of view to your choice of car.</p>
</div>

<div class="row my-5 mx-0 justify-content-around">

  <div class="col-md-6">
    <div class="px-5">
        Torque 360 is a car management system which allows user to access the data
        of over a wide range of cars in order to select the one which the customer
        feels appropriate to purchase. <br> <br> This system allows user to search for variety
        of cars of various car companies. The user has to register in order to
        retrieve the data and only the administrators have access to modify the data
        according to the availability of the cars and other factors.
    </div>
    <div class="my-3 px-5">
      <a class="btn btn-secondary text-white px-3 mr-2" href="/cars/view">
        Display all cars
      </a>
      <a class="btn btn-secondary text-white px-3 mr-2" href="/cars/search">
        Search for a car
      </a>
    </div>
    <div class="my-3 px-5">
      <h3>Features:</h3>
      <ul>
        <li>Admin Registration</li>
        <li>Admin Login</li>
        <li>Car addition</li>
        <li>Display all cars</li>
        <li>Search for a car [partial]</li>
        <li>Delete a car [planned]</li>
        <li>Modify car details [planned]</li>
      </ul>
    </div>
  </div>

  <!-- Admin Panel -->
  <div class="col-md-4">
  <div class="m-auto py-2">
    <div class="card card-body text-center">
      <p>Create an account or login [Admin]</p>
      <a href="/admin/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/admin/login" class="btn btn-info btn-block mb-2">Login</a>
    </div>
  </div>

  <!-- User Login -->
  <div class="m-auto py-2">
    <div class="card card-body text-center">
      <p>Create an account or login [User]</p>
      <a href="/user/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/user/login" class="btn btn-info btn-block mb-2">Login</a>
    </div>
  </div>

</div>
</div>

<div class="row justify-content-start px-5 mx-0">

</div>
