<div class="text-center" id="header">
  <h1>Torque 360</h1>
  <hr>
  <p>* insert corny caption *</p>
</div>

<div class="row mt-5 mx-0">
  <!-- Admin Panel -->
  <div class="col-md-4 m-auto py-2">
    <div class="card card-body text-center">
      <p>Create an account or login [Admin]</p>
      <a href="/admin/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/admin/login" class="btn btn-info btn-block mb-2">Login</a>
    </div>
  </div>

  <!-- User Login -->
  <div class="col-md-4 m-auto py-2">
    <div class="card card-body text-center">
      <p>Create an account or login [User]</p>
      <a href="/user/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/user/login" class="btn btn-info btn-block mb-2">Login</a>
    </div>
  </div>
</div>
