body {
  font-size: 16px;
}

#header {
  height: 95vh;
  background-image: url("/images/intro-car.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40vh;
  color: #fff;
}

#header h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: #000 2px 1px;
}

#mainNavbar #navBrand {
  line-height: 64px;
  padding-top: 0;
  padding-bottom: 0;
}

#mainNavbar img {
  height: 30px;
  padding: 0;
}

#dashboard .btn {
  width: 150px;
}

#mainNavbar #brand-logo {
  /* transform: rotate('45deg');
  transition: all 0.4 ease-in; */

  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;

  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-direction: alternate;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(-45deg);
  }

  to {
    -moz-transform: rotate(45deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(-45deg);
  } to {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  } to {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
